html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

footer, header, nav {
    display: block;
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}

strong {
    font-weight: bold;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

img {
    border: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
}

button, input, select {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    padding: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff;
}

input, button, select {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #1e91cf;
    text-decoration: none;
}

a:hover, a:focus {
    color: #14628c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eee;
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2, h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}

h4, h5 {
    margin-top: 9px;
    margin-bottom: 9px;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 17px;
}

h5 {
    font-size: 13px;
}

p {
    margin: 0 0 9px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: #e3503e;
}

.page-header {
    padding-bottom: 8px;
    margin: 36px 0 18px;
    border-bottom: 1px solid #eee;
}

ul {
    margin-top: 0;
    margin-bottom: 9px;
}

ul ul {
    margin-bottom: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
}

.list-inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before, .container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid:before, .container-fluid:after {
    content: " ";
    display: table;
}

.container-fluid:after {
    clear: both;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before, .row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-10, .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-10, .col-sm-12 {
        float: left;
    }

    .col-sm-2 {
        width: 16.66667%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-10 {
        width: 83.33333%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .table > thead > tr > td {
        min-width: 100px;
    }
}

table {
    background-color: transparent;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}

.table > thead > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 13px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
}

#user_cart.table.table-bordered.table-hover tr > td:nth-child(2), #user_cart.table.table-bordered.table-hover tr > td:nth-child(6) {
    display: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    height: 36px;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.42857;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-group {
    margin-bottom: 15px;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-horizontal .form-group:before, .form-horizontal .form-group:after {
    content: " ";
    display: table;
}

.form-horizontal .form-group:after {
    clear: both;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 9px;
    }
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 13px;
    font-size: 13px;
    line-height: 1.42857;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:focus, .btn:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus {
    color: #666;
    text-decoration: none;
}

.btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-default {
    color: #666;
    background-color: #fff;
    border-color: #ddd;
}

.btn-default:focus {
    color: #666;
    background-color: #e6e6e6;
    border-color: #9d9d9d;
}

.btn-default:hover {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bebebe;
}

.btn-default:active {
    color: #666;
    background-color: #e6e6e6;
    border-color: #bebebe;
}

.btn-default:active:hover, .btn-default:active:focus {
    color: #666;
    background-color: #d4d4d4;
    border-color: #9d9d9d;
}

.btn-default:active {
    background-image: none;
}

.btn-primary {
    color: #fff;
    background-color: #1e91cf;
    border-color: #197bb0;
}

.btn-primary:focus {
    color: #fff;
    background-color: #1872a2;
    border-color: #092d40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}

.btn-primary:active {
    color: #fff;
    background-color: #1872a2;
    border-color: #12567a;
}

.btn-primary:active:hover, .btn-primary:active:focus {
    color: #fff;
    background-color: #135c83;
    border-color: #092d40;
}

.btn-primary:active {
    background-image: none;
}

.btn-success {
    color: #fff;
    background-color: #4cb64c;
    border-color: #409e40;
}

.btn-success:focus {
    color: #fff;
    background-color: #3c933c;
    border-color: #1b431b;
}

.btn-success:hover {
    color: #fff;
    background-color: #3c933c;
    border-color: #2f722f;
}

.btn-success:active {
    color: #fff;
    background-color: #3c933c;
    border-color: #2f722f;
}

.btn-success:active:hover, .btn-success:active:focus {
    color: #fff;
    background-color: #327a32;
    border-color: #1b431b;
}

.btn-success:active {
    background-image: none;
}

.btn-danger {
    color: #fff;
    background-color: #e3503e;
    border-color: #dd3520;
}

.btn-danger:focus {
    color: #fff;
    background-color: #d0321e;
    border-color: #6e1a10;
}

.btn-danger:hover {
    color: #fff;
    background-color: #d0321e;
    border-color: #a82818;
}

.btn-danger:active {
    color: #fff;
    background-color: #d0321e;
    border-color: #a82818;
}

.btn-danger:active:hover, .btn-danger:active:focus {
    color: #fff;
    background-color: #b12a1a;
    border-color: #6e1a10;
}

.btn-danger:active {
    background-image: none;
}

.collapse {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 13px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav:before, .nav:after {
    content: " ";
    display: table;
}

.nav:after {
    clear: both;
}

.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}

.navbar {
    position: relative;
    min-height: 60px;
    margin-bottom: 18px;
    border: 1px solid transparent;
}

.navbar:before, .navbar:after {
    content: " ";
    display: table;
}

.navbar:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 3px;
    }
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    -webkit-overflow-scrolling: touch;
}

.navbar-collapse:before, .navbar-collapse:after {
    content: " ";
    display: table;
}

.navbar-collapse:after {
    clear: both;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.navbar-nav {
    margin: 7px -15px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 18px;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }

    .navbar-nav > li {
        float: left;
    }

    .navbar-nav > li > a {
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.alert {
    padding: 10px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 3px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
    display: inline-block;
}

.alert-dismissible {
    padding-right: 30px;
}

.alert-dismissible .close {
    position: relative;
    top: -2px;
    color: inherit;
}

.alert-success {
    background-color: #cbeacb;
    border-color: #b9e2b9;
    color: #398c39;
}

.alert-danger {
    background-color: #f5c1bb;
    border-color: #f3b5ad;
    color: #c72f1d;
}

.panel {
    margin-bottom: 18px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-body {
    padding: 15px;
}

.panel-body:before, .panel-body:after {
    content: " ";
    display: table;
}

.panel-body:after {
    clear: both;
}

.panel-heading {
    padding: 12px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    color: inherit;
}

.panel-default {
    border-color: #ddd;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #fafafa;
    border-color: #ddd;
}

.well {

    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    min-height: 305px;
}

.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none !important;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    color: #444;
}

.fa {
    font-size: 14px;
}

h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

a {
    color: #23a1d1;
}

a:hover {
    text-decoration: none;
}

label {
    font-size: 12px;
    font-weight: normal;
}

select.form-control, input[type="text"].form-control, input[type="password"].form-control {
    font-size: 12px;
}

span.hidden-xs, span.hidden-sm, span.hidden-md {
    display: inline;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #229ac8 linear-gradient(to bottom, #23a1d1, #1f90bb) repeat-x;
}

#top {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}

#top .container {
    padding: 0 20px;
}

#top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top-links a:hover {
    color: #444;
}

#top-links {
    padding-top: 6px;
}

#logo {
    margin: 0 0 10px 0;
}

#menu {
    background: #229ac8 linear-gradient(to bottom, #23a1d1, #0c0c0c) repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
    min-height: 40px;
}

#menu .nav > li > a {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    padding: 10px 15px 10px 15px;
    min-height: 15px;
    background-color: transparent;
}

#menu .nav > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }

    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
    }

    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #menu .dropdown-inner {
        display: block;
    }

    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }

    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
}

#content {
    min-height: 617px;
}

footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    border-top: 1px solid #ddd;
    color: #e2e2e2;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.alert {
    padding: 8px 14px 8px 14px;
}

.btn {
    padding: 8px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background: #e7e7e7 linear-gradient(to bottom, #eeeeee, #dddddd) repeat-x;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #229ac8 linear-gradient(to bottom, #23a1d1, #1f90bb) repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover, .btn-primary:active {
    background: #1f90bb 0 -15px;
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #da4f49 linear-gradient(to bottom, #ee5f5b, #bd362f) repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover, .btn-danger:active {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background: #5bb75b linear-gradient(to bottom, #62c462, #51a351) repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover, .btn-success:active {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

.module-title {
    position: relative;
    display: block;
    margin-top: 27px;
    margin-bottom: 32px;
    text-align: center;
}

.module-title h2 {
    position: relative;
    text-transform: capitalize;
    font-size: 30px;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
}

.module-description {
    margin-top: 18px;
}

.module-description p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.banner-static {
    text-align: center;
    clear: both;
    overflow: hidden;
}

.static-home {
    margin-top: 50px;
    margin-bottom: 50px;
}

.static-home > .inner {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
}

.policy-block {
    text-align: center;
    margin: 50px 0;
    padding: 50px 0;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

.policy-block .inner {
    display: grid;
    grid-template-columns: 33.33333% 33.33333% 33.33333%;
    margin: 0 -10px;
    grid-row-gap: 20px;
}

.policy-block .col {
    padding: 0 10px;
}

.policy-block .box {
    padding-top: 77px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative;
    max-width: 285px;
    margin: auto;
}

.policy-block .box.shipping {
    background: url(../image/free_shipping.png) top center no-repeat;
}

.policy-block .box.money {
    background: url(../image/money_back.png) top center no-repeat;
}

.policy-block .box.support {
    background: url(../image/support247.png) top center no-repeat;
}

.policy-block .box h4 {
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 0 24px;
    font-weight: 600;
}

.policy-block .box p {
    margin: 0;
    line-height: 24px;
    letter-spacing: 0.025em;
    color: #929292;
}

#adminMenu {
    display: none;
}

#messageFailed, #messageSuccess {
    display: none;
}

#messageFailedText, #messageSuccessText {
    display: inline-block;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-responsive.admin {
    max-height: 250px;
}

.product-thumb {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
}

.product-thumb .image {
    text-align: center;
    height: 200px;
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image a:hover {
    opacity: 0.8;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb h4 {
    font-weight: bold;
}

.product-thumb .caption {
    padding: 0 20px;
    min-height: 180px;
}

.product-list .product-thumb .caption {
    margin-left: 230px;
}

@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }

    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #E69500;
}

h2.price {
    margin: 0;
}

.product-thumb .price {
    color: #f00;
    font-weight: 900;
    text-align: right;
}

.product-thumb .price-new {
    font-weight: 600;
}

.product-thumb .price-old {
    color: #999;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 100%;
    border: none;
    display: inline-block;
    float: left;
    background-color: #eee;
    color: #888;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-thumb .button-group button + button {
    width: 20%;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {
    color: #444;
    background-color: #ddd;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

@media (min-width: 992px) {
    .col-md-3 {
        width: 25%;
    }
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 18px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    border-top: 0;
}

.table > tbody + tbody {
    border-top: 2px solid #ddd;
}

.table .table {
    background-color: #fff;
}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td {
    padding: 5px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #ddd;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
